@font-face {
    font-family: "RRegular";
    src: url("/fonts/Rubik.ttf");
}

@font-face {
    font-family: "testFont";
    src: url("/fonts/Montserrat.ttf");
    font-style: normal;
}

@font-face {
    font-family: "overLockFontBlack";
    src: url("/fonts/Overlock-Regular.ttf");
    font-style: normal;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}